<%- include("../partials/header.ejs") %> 
<div class = "container">
<br>
<br>

  <div class="card">
    <div class="card-body">
      <form action="/floofs" method="POST">
        <center>  
        <h3 class="card-title">Create Floof</h3>
          <p class="card-text">
            Share the love and all things fluffy!
          </p>
        </center>
          <div>
            <label class="form-label" for="typeURL">Image (url):</label>
            <input type="url" id="typeURL" name="imageUrl" class="form-control" placeholder='e.g https://images.a-cute-image.com'>
        </div>
          <br>
          <label class="form-label" for="textAreaExample">Story:</label>
          <textarea class="form-control" name="story" id="textAreaExample" rows="3" placeholder='e.g What would you like to share about your floof?'></textarea>
          
          <br>
        <button type='submit' class='btn btn-dark btn-block mb-4' value="floof!">Submit Floof!</button>
      </form>
  
  </div>
</div>

<%- include("../partials/footer.ejs") %> 